<html lang="en"><head>
        <title>URL Shortener Microservice</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1 class="header">
                freeCodeCamp challenge: URL Shortener Microservice
            </h1>
            <blockquote>
                User stories:
                <ul>1) I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</ul>
                <ul>2) When I visit that shortened URL, it will redirect me to my original link.</ul>
            </blockquote>

            <h3>Example usage:</h3>
            <code>https://ftm.glitch.me/December%2015,%202015</code><br>
            <code>https://ftm.glitch.me/1450137600</code>
            <h3>Example output:</h3>
            <code>
                {
                  "unix": 1450137600,
                  "natural": "December 15, 2015"
                }
            </code>
        </div>
    
</body></html>